body{
    background: rgb(86,136,199);
    background: linear-gradient(180deg, rgba(86,136,199,1) 0%, rgba(217,217,209,1) 99%);
    background-repeat: no-repeat;
}
.cate {
    color: white;
    text-align: center;
    margin: 30px;
}

.best {
    margin-top: 50px;
    margin-left: 40px;
}

.sellers {
    background-color: rgb(216, 231, 78);
}

/* .doll {
    
    margin: 50px 50px; */
}