@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.bg-1 {
    background-color: #C4C4C4;
    font-size: 64px;
}


.bg-2 {
    background-color: #E0CA5D;
    font-size: 64px;
}

.bg-3 {
    background-color: #B8BBBF;
    font-size: 50px;
}

.bg-4 {
    background-color: #5688C7;
    font-size: 64px;
    color: white;
    height: 200px;
}

.bg-1, .bg-2, .bg-3, .bg-4 {
    text-align: center;
}

span {
    background-color: #C4C4C4;
}

.form-control {
    display: inline;
    margin: 2px;
    width: 100px;
    border: none;
    background-color: #C4C4C4;
    border-radius: 0%;
}

.row-font {
    font-family: "Rajdhani";
    font-weight: bold;
}