.cart_icon{
    font-size: 1.5vw;
    margin-top: 35px;
    
}

.sevens_lunch_nav{
    font-size: 3vw;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
}

a:link, a:visited {
   text-decoration: none; 
   color: black;
}

.our_font{
    font-family: 'Bebas Neue', cursive;
}

.nav_searchbar{
    margin-top: 30px;
}

